<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Items:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Add item
      </button>
    </div>

    <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length; else empty">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
          <span>
              {{position.name}} <strong>{{position.cost}} rub</strong>
          </span>
          <span>
              <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">There are no items in this category</div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div #modal class="modal">
    <div class="modal-content">
      <h4 class="mb1">Add item</h4>
      <div class="input-field">
        <input
          id="pos-name"
          type="text"
          formControlName="name"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
        >
        <label for="pos-name">Title</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
          <span>The "Title" field must not be empty.</span>
        </span>
      </div>
      <div class="input-field">
        <input
          id="pos-cost"
          type="number"
          min="1"
          formControlName="cost"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
        >
        <label for="pos-cost">Price</label>
        <span class="helper-text red-text" *ngIf="form.get('cost').invalid && form.get('cost').touched">
          <span>Please enter correct price. Minimum value is 1</span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.disabled"
        type="button"
        (click)="onCancel()"
        class="modal-action waves-effect waves-black btn-flat">
        Cancel
      </button>
      <button
        [disabled]="form.disabled || form.invalid"
        type="submit"
        class="modal-action btn waves-effect">
        Save
      </button>
    </div>
  </div>
</form>

